@{
  Layout = "_Layout";
}

@model FavoriteRestaurant.Models.Cuisine

<h4>Add a new cuisine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CuisineType)
  @Html.TextBoxFor(model => model.CuisineType)
  <input type="submit" value="Add new cuisine" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show Cuisine types","Index")</p>